/* challenges.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Your Custom Font', sans-serif;
}

/* Style the list of challenges in index.html */
ul {
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    max-width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 30rem;
    background: linear-gradient(to bottom, #eeeeee, #cccccc);
    transition: box-shadow 0.3s ease;
}

/* Responsive design for smaller screens */
@media only screen and (max-width: 600px) {
    ul {
        max-width: 100%;
        height: auto;
    }
}

/* Style each list item */
li {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    transition: border-bottom 0.3s ease;
}

/* No border for the last item and the 6th item */
li:last-of-type,
li:nth-of-type(6) {
    border-bottom: none;
}

/* Style links within list items */
li a {
    text-decoration: none;
    color: #383838;
    transition: color 0.3s ease;
}

/* Hover and active states for links */
li a:hover,
li a:active {
    color: #7e0154;
}

/* Add subtle box shadow on hover for the entire list container */
ul:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

/* Additional styling for icons */
.icon {
    width: 20px; /* Adjust the size based on your icon dimensions */
    height: 20px;
    margin-right: 10px;
}
